.container{
  @include center;
}

.grid__col {
  @include bg-colors($ui-colors);
}

[class^= "grid__col--"].theme__colors {
  @include side;
}

[class^= "grid__col--"]:not(.theme__colors) {
  background-color: white;
}

.grid__row {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  min-width: 100%;
}

.headline--secondary, .headline--primary, .card{
  text-align: left;
}

@for $i from 1 through $g-col-count {
  $context: g-context ($g-col-width, $g-col-count, $g-gutter-width);
  $target: ($g-col-width * $i) + ($g-gutter-width *( $i - 1));
  .grid__col--#{$i}{
    width: percentage ($target/$context)
  }
}
