.container{
  @include center;
}

.grid__row {
  @include center;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  min-width: 100%;
}

.headline--secondary, .headline--primary, .card{
  text-align: left;
}

.centered {
  @include center;
}
