.container{
  @include center;
}

.grid__col {
  @include bg-colors($ui-colors);
}

[class^= "grid__col--"].theme__colors {
  @include side;
  @include text-left;
}

[class^= "grid__col--"]:not(.theme__colors) {
  background-color: white;
}

.grid__row {
  @include mq(small) {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    min-width: 90%;
  }
  @include Large-row-break;
}

//.headline--secondary, .headline--primary, .card{
  //text-align: left;
//}

@include mq(large) {
  @for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count, $g-gutter-width) !global;
    $target: ($g-col-width * $i) + ($g-gutter-width *( $i - 1));
      .grid__col--#{$i} {
        width: percentage($target / $context);
        }
      }
}

// Column styles

[class^="gid__col--"] {
  @include mq(small) {
    margin-top: em(12px);
    margin-bottom: em(12px);
    @include column;
  }
  @include mq(large) {
   @include doubly(percentage($g-gutter-width / $context));
  float: left;
   min-height: 1px;
   padding-left: 10px;
   padding-right: 10px;
    &:last-of-type {
     float: right;
   }
  }
}

.card {
  margin-left: 50px;
  margin-right: 30px;
}

.grid__col--12 {
  @include mq(large){
    display: flex;
    justify-content: space-around;
  }
}
