 .nav{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  @media (min-width: 769px) {
      flex-direction: row;
      float: right;
      margin-right: 50px;
  }
}

.nav__item{
  padding: 5px;
  margin: 5px;
}

.nav__item:hover{
  background-color: $alt-color;
  border-radius: 0.35em;
  padding: 5px;
}
