 .nav{
  @include Large-row-break;
  padding: 10px;
  margin: 10px;
  &__item{
    padding: 10px;
    margin: 10px;
  }
  &__item:hover{
    background-color: $alt-color;
    border-radius: 0.35em;
    padding: 10px;
  }
}
