.headline--secondary {
  font-family: $primary-font-family;
  font-weight: $light-font-weight;
}

.headline--secondary {
  font-family: $primary-font-family;
  font-weight: $bold-font-weight;
}

.blockquote {
  border-left: 10px solid blue;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
