/*********
Color Mixins
***********/

@mixin bg-colors($map){
  @each $theme, $color in $map{
    &--#{$theme}{
      background-color:$color;
    }
  }
}

//@mixin grid-bg-colors($map){
  //@each $theme, $color in $map{
//{$theme}{
  //    background-color:$color;
    //}
  //}
//}

/**********
centered
***********/
@mixin center {
  width: 90%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

@mixin side {
    font-family: $primary-font-family;
    font-weight: $reg-font-weight;
    color: darken($main-font-color, 10%);
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;;
}
/**********
Media Queries
***********/

/**********
Flexbox Settings
***********/
