/**********
BEM Mixins
***********/
@mixin m($modifier){
  &--#{$modifier}{
    @extend %btn;
  }
}

/**********
font Mixins
***********/

@mixin typog(
 $family: null,
 $weight: null,
 $colors: null,
 $f-size: null,
 $l-height: null,
 $t-align: left){
   font-family: $family;
   font-weight: $weight;
   color: $colors;
   font-size: $f-size;
   line-height: $l-height;
   text-align: $t-align;
 }


/*********
Color Mixins
***********/

@mixin bg-colors($map){
  @each $theme, $color in $map{
    &--#{$theme}{
      background-color:$color;
    }
  }
}

/**********
centered
***********/
@mixin center {
  width: 90%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

@mixin side {
    font-family: $primary-font-family;
    font-weight: $reg-font-weight;
    color: darken($main-font-color, 10%);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
}
/**********
Media Queries
***********/
@mixin mq($break){
  @if $break == "small" {
    @media (min-width: $br-xs) and (Max-width: $br-s){
      @content;
    }
  }
    @else if $break == "large" {
      @media (min-width: $br-l){
        @content;
      }
    }
    @else {
      @error "cannot retrieve #{$break}"
    }
}

@mixin Large-row-break {
  @include mq(large) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    min-width: 90%;
  }
}

@mixin text-left {
  @include mq(small) {
    text-align: left;
  }
}

@mixin doubly($margin: 1em) {
  & +& {
    margin-left: $margin;
    @content;
  }
}

/**********
Flexbox Settings
***********/
@mixin column {
  display: flex;
  flex-direction: column;
}
