/**********
Font Variables
***********/

//font-family: roboto, sans serif;
//font-weight: 100, 300, 400, 700;

$primary-font-family: Helvetica Neue, sans-serif;

$thin-font-weight: 100;
$light-font-weight: 300;
$reg-font-weight: 400;
$bold-font-weight: 700;

/**********
Color Variables
***********/
$main-font-color: grey;
$alt-color: #66f5bc;
$turquise-blue: #45e0f7;
$emerald: #5ece75;
$sunglo: #e67478;
$coral: #ff784f;
$purple-majesty: #9279c3;


//UI colors

$ui-colors: (
  default: $turquise-blue,
  success: $emerald,
  error: $sunglo,
  warning: $coral,
  info: $purple-majesty,
  12: $alt-color,
  6: darken($turquise-blue, 20%),
  4: lighten($turquise-blue, 20%),
  3: lighten($purple-majesty, 20%),
  5: lighten($emerald, 20%),
  7: lighten($sunglo, 20%),
  8: lighten($coral, 20%)
);

/**********
Breakpoint Variables
#52bab3
***********/

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;
