/**********
Font Variables
***********/

//font-family: roboto, sans serif;
//font-weight: 100, 300, 400, 700;

$primary-font-family: roboto, sans-serif;

$thin-font-weight: 100;
$light-font-weight: 300;
$reg-font-weight: 400;
$bold-font-weight: 700;

/**********
Color Variables
***********/

$fountain-blue: #52bab3;
$emerald: #5ece75;
$sunglo: #e67478;
$coral: #ff784f;
$purple-majesty: #9279c3;


//UI colors

$ui-colors: (
  default: $fountain-blue,
  success: $emerald,
  error: $sunglo,
  warning: $coral, 
  info: $purple-majesty
);

/**********
Breakpoint Variables
***********/
