.form{
  @include column;
  @include width($full-width);
  @include mq(large) {
    @include width($med-width);
    padding-top: 1em;
    padding-left: 2em;
    &__input{
      padding-left: 1em;
      padding-right: 1em;
      margin: .5em;
    }
    .btn--default{
      @include width($full-width);
    }
  }
}
